<!DOCTYPE html>
<html>
<head>
    <title>Virtue / Vice</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
	<script src="../libs/notification/notification.js"></script>
	<style>
		.popup {
			width:200px;
			height:20px;
			height:auto;
			position:absolute;
			left:90%;
			margin-left:-100px;
			bottom:10px;
			background-color: #383838;
			color: #F0F0F0;
			font-family: Calibri;
			font-size: 20px;
			padding:10px;
			text-align:center;
			border-radius: 2px;
			-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
			-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
			box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
		}
	</style>
</head>
<body>
    <section>
        <h1>Habit List</h1>
        <ul id="habit-list">
            <li>
                <ul class="habit-info">
                    <li><div class="habit-name">Sleep 8 hours</div></li>
                    <li><img class="habit-icon" src="../img/sleep.jpg" alt="habit icon"></li>
                </ul>
                <div class="message">
                    <span class="message-total">
                        <strong>2</strong> days in a row! Best Record: <strong>5</strong><br>
                        <svg height="25" width="150">
                            <line x1="0" y1="0" x2="60" y2="0" style="stroke:rgba(65, 131, 215, 0.8);stroke-width:25" />
                            <line x1="60" y1="0" x2="150" y2="0" style="stroke:rgba(171,171,171,0.6);stroke-width:25" />
                        </svg>
                    </span><br>
                    <span class="message-today">Completed <strong>1/1</strong> for today!</span>
                </div>
                <div class="habit-op">
                    <button type="button" class="op op-done" onclick="showMsg(this);" title="done">
                        <img src="../img/done.svg" alt="Done">
                    </button>
                    <button type="button" class="op op-edit" onclick="location.href='edit.html'" title="edit habit">
                        <img src="../img/edit.svg" alt="Edit">
                    </button>
                    <button type="button" class="op op-del" onclick="deleteHabit(this);" title="delete habit">
                        <img src="../img/delete.svg" alt="Del">
                    </button>
                </div>
            </li>

            <li>
                <ul class="habit-info">
                    <li><div class="habit-name">Eat Healthy</div></li>
                    <li><img class="habit-icon" src="../img/salad.jpg" alt="habit icon"></li>
                </ul>
                <div class="message">
                    <span class="message-total">
                        <strong>10</strong> days in a row! Best Record: <strong>20</strong><br>
                        <svg height="25" width="150">
                            <line x1="0" y1="0" x2="75" y2="0" style="stroke:rgba(65, 131, 215, 0.8);stroke-width:25" />
                            <line x1="75" y1="0" x2="150" y2="0" style="stroke:rgba(171,171,171,0.6);stroke-width:25" />
                        </svg>
                    </span><br>
                    <span class="message-today">Completed <strong>1/3</strong> for today!</span>
                </div>
                <div class="habit-op">
                    <button type="button" class="op op-done" onclick="showMsg(this);" title="done">
                        <img src="../img/done.svg" alt="Done">
                    </button>
                    <button type="button" class="op op-edit" onclick="location.href='edit.html'" title="edit habit">
                        <img src="../img/edit.svg" alt="Edit">
                    </button>
                    <button type="button" class="op op-del" onclick="deleteHabit(this);" title="delete habit">
                        <img src="../img/delete.svg" alt="Del">
                    </button>
                </div>
            </li>

            <li>
                <ul class="habit-info">
                    <li><div class="habit-name">Exercise 30 minutes</div></li>
                    <li><img class="habit-icon" src="../img/run.jpg" alt="habit icon"></li>
                </ul>
                <div class="message">
                    <span class="message-total">
                        <strong>48</strong> days in a row! Best Record: <strong>60</strong><br>
                        <svg height="25" width="150">
                            <line x1="0" y1="0" x2="120" y2="0" style="stroke:rgba(65, 131, 215, 0.8);stroke-width:25" />
                            <line x1="120" y1="0" x2="150" y2="0" style="stroke:rgba(171,171,171,0.6);stroke-width:25" />
                        </svg>
                    </span><br>
                    <span class="message-today">Completed <strong>1/2</strong> for today!</span>
                </div>
                <div class="habit-op">
                    <button type="button" class="op op-done" onclick="showMsg(this);" title="done">
                        <img src="../img/done.svg" alt="Done">
                    </button>
                    <button type="button" class="op op-edit" onclick="location.href='edit.html'" title="edit habit">
                        <img src="../img/edit.svg" alt="Edit">
                    </button>
                    <button type="button" class="op op-del" onclick="deleteHabit(this);" title="delete habit">
                        <img src="../img/delete.svg" alt="Del">
                    </button>
                </div>
            </li>

        </ul>
    </section>

    <button type="button" id="addHabit" onclick="location.href='add.html'" title="add habit">+</button>

    <script type="text/javascript">
        function showMsg(element){
            var msgElement = (element.parentNode.parentNode.getElementsByClassName("message"))[0];
            // alert(msgElement.innerHTML);
            msgElement.style.visibility="visible";
        }

        function deleteHabit(element){
            var child = element.parentNode.parentNode;
            var parent = child.parentNode;
            parent.removeChild(child);
        }
		
		function sendNotification(title, notiBody, notiIcon) {
			if(Notification.permission !== 'granted') {
				Notification.requestPermission();
			}
			var n  = new Notification(title, {
				body: notiBody,
				icon: notiIcon
			});
			
			if(window.external && window.external.msIsSiteMode() !== undefined) {
				if(window.external.msIsSiteMode()) {
					createPopUp(title, notiBody, notiIcon);
				} else {
					createPopUp("Enable Notification", "Please pin the site to enable notifications", "");
				}
			}
		}
		
		function createPopUp(title, notiBody, notiIcon) {
			var popup = document.createElement("div");
			popup.innerHTML = "<strong>" + title + "</strong>" + "<br>" + notiBody;
			popup.className = 'popup';
			popup.style.display = 'none';
			popup.onclick = function() {
				$('.popup').fadeOut(400);
			}
			document.body.appendChild(popup);
			$('.popup').fadeIn(400);
		}
		
		// function sendNotifications() {
		// 	var i;
        //  var notificationArray = getArray()

        //  sort(notificationArray) //do by time
		// 	for(i = 0; i < numberOfNotifications; i++) {
		// 		var noti = notificationArray[i];
		// 		window.setTimeout(function() {
		// 			sendNotification(noti.title, noti.body, noti.icon);
		// 		}, noti.time);
		// 	}
		// }

        function executeAt(hour, minute, func) {
            var currentHour  = new Date().getHours();
            var currentMin = new Date().getMinutes();
            console.log(currentHour + " " + hour);
            if(currentHour > hour || currentMin > minute) {
                console.log("Time is in the past");
                return false;
            }
            var hourDiff = hour - currentHour;
            var minuteDiff = minute - currentMin;
            var timeDiff = hourDiff * 3600 * 1000 + minuteDiff * 60 * 1000; 
            console.log("time diff " + timeDiff);
            setTimeout(func, timeDiff);
            return true;
        }

        (function() {
            var i;
            var a = 0;
            var hour = 18;
            var minute = 49;
            for(i = 0; i < 10; i++) {
                executeAt(hour, minute--, function(){
                    console.log(i);
                });
            }
        }());

    </script>
</body>
</html>