<!DOCTYPE html>
<html>
<head>
    <title>Virtue / Vice</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
	<script src="../libs/notification.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
	<script type="text/javascript" src = "../js/user.js"></script>
	<style>
		.popup {
			width:200px;
			height:20px;
			height:auto;
			position:absolute;
			left:90%;
			margin-left:-100px;
			bottom:10px;
			background-color: #383838;
			color: #F0F0F0;
			font-family: Calibri;
			font-size: 20px;
			padding:10px;
			text-align:center;
			border-radius: 2px;
			-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
			-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
			box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
		}
	</style>
</head>
<body>
    <section>
        <h1>Habit List</h1>
        <ul id="habit-list">
          
        </ul>
    </section>

    <button type="button" id="addHabit" onclick="location.href='add.html'" title="add habit">+</button>
    <script type="text/javascript" src="../js/habitList.js"></script>   
    <script type="text/javascript">
        function showMsg(element){
            var msgElement = (element.parentNode.parentNode.getElementsByClassName("message"))[0];
            // alert(msgElement.innerHTML);
            var el = element.parentNode.parentNode.getElementsByClassName("message");
            var items = el[0].id.split("-");
            console.log(items);
            msgElement.style.visibility="visible";
            updateFreq(el[0].id,items);
        }
        function deleteHabit(element){
            var child = element.parentNode.parentNode;
            var parent = child.parentNode;
            parent.removeChild(child);
        }
    </script>
</body>
</html>
