<!DOCTYPE html>
<html>
<head>
    <title>Virtue / Vice</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/list.css">
	<script src="../libs/notification.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
    <!--check if user logged in-->
    <script>
            Parse.initialize("M0a7TBns2wo7HMdoULhac86LMnpjPothTzst4a1T", "cV4npfDqaSpeTLSwwyhYxg8CvoWqJc0QjXlM37c0");
            //below is non-debug version:
            //if(Parse.User.current() == null){window.location = ("../src/login.html");}
            //below is debug version:
            var currentUser = Parse.User.current();
            if(currentUser){
                console.log("user is logged in as:");
                var userinfo = JSON.stringify(currentUser);
                console.log( eval ("(" + userinfo + ")"));
            }
            else{
                window.location = ("../src/login.html");
            }
    </script>
	<style>
		.popup {
			width:200px;
			height:20px;
			height:auto;
			position:absolute;
			left:90%;
			margin-left:-100px;
			bottom:10px;
			background-color: #383838;
			color: #F0F0F0;
			font-family: Calibri;
			font-size: 20px;
			padding:10px;
			text-align:center;
			border-radius: 2px;
			-webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
			-moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
			box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
		}
	</style>
</head>
<body onload="onDocumentLoad();">
    <section>
        <h1>Habit List</h1>
        <ul id="habit-list">
          
        </ul>
    </section>

    <button type="button" id="addHabit" onclick="location.href='add.html'" title="add habit">+</button>
    <script type="text/javascript" src="../js/habitList.js"></script>   
    <script type="text/javascript">
        function showMsg(element){
            var msgElement = (element.parentNode.parentNode.getElementsByClassName("message"))[0];
            // alert(msgElement.innerHTML);
            var el = element.parentNode.parentNode.getElementsByClassName("message");
            var items = el[0].id.split("-");
            console.log(items);
            msgElement.style.visibility="visible";
            updateFreq(el[0].id,items);
        }

        function deleteHabit(element){
            var child = element.parentNode.parentNode;
            var parent = child.parentNode;
            parent.removeChild(child);
        }

		function sendNotification(title, notiBody, notiIcon) {
			if(Notification.permission !== 'granted') {
				Notification.requestPermission();
			}
			var n  = new Notification(title, {
				body: notiBody,
				icon: notiIcon
			});
            try {
    			if(window.external && window.external.msIsSiteMode() !== undefined) {
    				if(window.external.msIsSiteMode()) {
    					createPopUp(title, notiBody, notiIcon);
    				} else {
    					createPopUp("Enable Notification", "Please pin the site to enable notifications", "");
    				}
    			}
            } catch(ex) {
                console.log("Site mode is not supported");
            }
		}

		function createPopUp(title, notiBody, notiIcon) {
			var popup = document.createElement("div");
			popup.innerHTML = "<strong>" + title + "</strong>" + "<br>" + notiBody;
			popup.className = 'popup';
			popup.style.display = 'none';
			popup.onclick = function() {
				$('.popup').fadeOut(400);
                var element = document.getElementsByTag('body');
                var child = document.getElementsByClassName('popup');
                element.removeChild(child);
			}
			document.body.appendChild(popup);
			$('.popup').fadeIn(400);
		}

        function executeAt(hour, minute, func) {
            var currentHour  = new Date().getHours();
            var currentMin = new Date().getMinutes();
            var milisec = hour * 3600 * 1000 + minute * 60 * 1000;
            var currentMilisec = currentHour * 3600 * 1000 + currentMin * 60 * 1000;
            if(currentMilisec > milisec) {
                console.log("Time is in the past");
                return false;
            }
            var timeDiff = milisec - currentMilisec;
            console.log("time diff " + timeDiff);
            setTimeout(func, timeDiff);
            return true;
        }

        //set time out functions for notifications
        function onDocumentLoad() {
            console.log("onDocumentLoad() called");
            var i;
            var index = 0;
            // var habitList = getHabitList();
            // var length = habitList.length;
            var hour = 21;
            var minute = 50;
            var length = 10;
            for(i = 0; i < length; i++) {
                // var time = habitList[index].time;
                // var hourMinute = time.split(":");
                // var hour = Number(hourMinute[0]);
                // var minute = Number(hourMinute[1]);
                executeAt(hour, minute--, function(){
                    //get time, and notification text, image
                    // var title = habitList[index].habitName;
                    // var body = "Have you " + title + " today?"
                    // var icon = habitList[index].iconSource;
                    // sendNotification(title, body, icon);
                    sendNotification("test", "this is a test" + index++, "../img/sleep.jpg")
                    // index++;
                });
            }
        }

    </script>
</body>
</html>
