<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome to Virtue/Vice!</title>
		<link rel="stylesheet" href="../css/welcome.css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <!-- check if user is logged in -->
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
        <script>
            Parse.initialize("M0a7TBns2wo7HMdoULhac86LMnpjPothTzst4a1T", "cV4npfDqaSpeTLSwwyhYxg8CvoWqJc0QjXlM37c0");
            //below is non-debug version:
            //if(Parse.User.current() == null){window.location = ("../src/login.html");}
            //below is debug version:
            var currentUser = Parse.User.current();
            if(currentUser){
                console.log("user is logged in as:");
                var userinfo = JSON.stringify(currentUser);
                console.log( eval ("(" + userinfo + ")"));
            }
            else{
                window.location = ("../src/login.html");
            }
        </script>
	</head>
	<body>
	  <div class="welcome">
	  	<h1>virtue / <i>vice</i></h1>
          
        <h2><span>keep your habits in line</span></h2>    
     
	    <p id="add"><input class="addbutton" type="button" value="add a habit" onclick="location.href='add.html'">
		</p>
	  </div>
	</body>
</html>

